<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-xs-12 mb-5">
      <h1>Animations</h1>
      <button class="btn btn-primary me-3">Animate!</button>
      <button class="btn btn-primary">Shrink!</button>
      <div></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 mb-4">
      <input type="text" #input />
      <button class="btn btn-primary ms-3" (click)="onAdd(input.value)">
        Add Item!
      </button>

      <ul class="list-group mt-3">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          (click)="onDelete(item)"
          *ngFor="let item of list"
        >
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
